/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
   */

   

  header {
    display: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #212529;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 100vw;
    transition: all 0.5s ease-in-out;
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter:  saturate(160%) contrast(65%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  }
  
  .nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 10px 20px; */
    padding: 0px;
  }
  .logo {
    text-decoration: none;
    font-size: 25px;
    color: inherit;
    margin-right: 20px;
    display: none;
  }
  
  .menus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    width: 100vw;
  }
  .menu-items {
    position: relative;
    font-size: 14px;
    border: 1px solid blue;
    width: 100vw;
  }
  .menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }
  .menu-items button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
  }
  button span {
    margin-left: 3px;
  }
  .menu-items>a,
  .menu-items button {
    text-align: center;
    /* padding: 0.7rem 1rem; */
  }
  .menu-items a:hover,
  .menu-items button:hover {
    background-color: #7C7670;
  }
  .arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }
  .dropdown {
    position: absolute;
    right: 0;
    right: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color: #000000;
    height: 100vh;
    border-radius: 0.5rem;
    display: none;
    border: 1px solid red;
    width:100vw;
    text-align: center;
  }
  .dropdown.show {
    display: block;
  }
  .dropdown .dropdown-submenu {
    position: absolute;
    left: 0%;
    /* top: -7px; */
    top: 100%;
  }
  /* content */
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 20px;
  }
  .content h2 {
    margin-bottom: 1rem;
  }
  .content a {
    color: #cc3852;
    margin-right: 10px;
  }